<section data-ng-controller="NewsController" data-ng-init="findOne()">
    <span>{{newsItem.created | date:'medium'}}</span> /
    <span>{{newsItem.user.name}}</span>
    <h2>{{newsItem.title}}</h2>
    <div data-ng-show="global.user.id == newsItem.user.id">
        <a class="btn" href="/#!/news/{{newsItem.id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{newsItem.content}}</div>
</section>
